<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Brands in Squad</title>
    <!--     Fonts and Font Awesome Icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b1baf8bd8e.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
  </head>

  <body class="bg-gray-100">
    <%-include('sidebar')%>
    <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100 mt-6">
      <div class="container-fluid py-4">
        <div class="row mb-2">
          <div class="col-xl-12 col-sm-12 align-items-center d-flex justify-content-center pb-0">
            <h5 class="me-4">주차별 현황이에요<span class="text-sm text-secondary opacity-7"> (단위: 천원)</span></h5>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="options1" id="quantity" value="1" />
              <label class="form-check-label" for="quantity">수량</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="options2" id="sales" value="2" checked />
              <label class="form-check-label" for="sales">실판매가</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="options3" id="marketing" value="3" />
              <label class="form-check-label" for="marketing">광고비</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="options4" id="roas" value="4" />
              <label class="form-check-label" for="roas">ROAS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="options5" id="contributionMargin" value="5" />
              <label class="form-check-label" for="contributionMargin">공헌이익</label>
            </div>
            <button type="button" class="btn btn-info">2개 이하 지표 선택 후 클릭</button>
          </div>
        </div>
        <div class="row" id="brands-chart-list"></div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../controls/korea-squad.js" type="module" defer></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.2.1/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  </body>
</html>
