<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Korea/Brands</title>
    <!--     Fonts and Font Awesome Icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b1baf8bd8e.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/css/datepicker.min.css" />
  </head>

  <body class="bg-gray-100">
    <%-include('sidebar')%>
    <main class="main-content position-relative max-height-vh-100 h-100 mt-6 border-radius-lg">
      <div class="container-fluid py-4">
        <div class="row mb-4">
          <div class="card h-100">
            <div class="card-header ps-0 pe-0 pb-0 mb-0 sticky-top">
              <div class="row">
                <div class="col-lg-5 col-md-5">
                  <h6>브랜드별 현황이에요</h6>
                </div>
                <div class="col-lg-5 col-md-5 d-flex mb-2 p-1">
                  <div class="input-group">
                    <button type="button" class="btn btn-outline-secondary mb-0 p-2">검색 기간</button>
                    <button
                      type="button"
                      class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split mb-0"
                      data-bs-toggle="dropdown"
                    >
                      <span id="easy-select-date">빠른 선택</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item">today</a></li>
                      <li><a class="dropdown-item">yesterday</a></li>
                      <li><a class="dropdown-item">last_7_days</a></li>
                      <li><a class="dropdown-item">last_14_days</a></li>
                    </ul>
                    <input type="text" id="datepicker1" class="form-control text-center text-lg" placeholder="시작일" />
                    <input type="text" id="datepicker2" class="form-control text-center text-lg" placeholder="종료일" />
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 mb-2 p-1">
                  <select class="form-select mb-0" id="md-list">
                    <option value="all" selected>MD</option>
                    <option value="namjjok">남쪽빛</option>
                    <option value="jy.lee">이지연</option>
                    <option value="consignment_4">홍민지</option>
                    <option value="buying_1">이예지</option>
                    <option value="buying_2">양주연</option>
                    <option value="essential_1">김경민</option>
                    <option value="strategic_1">황은경</option>
                    <option value="strategic_2">임수현</option>
                    <option value="strategic_3">김은선</option>
                    <option value="consignment_2">진수현</option>
                    <option value="consignment_3">김선영</option>
                  </select>
                </div>
                <div class="col-lg-1 col-md-1 text-center mb-2 p-1">
                  <button type="submit" class="btn btn-secondary" id="submit">조회</button>
                </div>
              </div>
              <div class="row">
                <div class="card-body pb-0 mb-0">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0 pb-0">
                      <thead>
                        <tr>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder p-2 opacity-7"
                            width="10%"
                          >
                            브랜드
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="11%"
                          >
                            파트너사
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            주문수<br />(건)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            판매수량<br />(pcs)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            실판매가<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            수수료<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            원가<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            쿠폰<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            마일리지&<br />PG(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            직접마케팅비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            배부마케팅비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="7%"
                          >
                            물류비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="9%"
                          >
                            공헌이익<br />(천원)
                          </th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <tbody id="korea-brands-data"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--   Core JS Files   -->
    <script src="../controls/korea-brand.js" type="module" defer></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
  </body>
</html>
