<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Korea/Brands</title>
    <!--     Fonts and Font Awesome Icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b1baf8bd8e.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/css/datepicker.min.css" />
  </head>

  <body class="bg-gray-100">
    <%-include('sidebar')%>
    <main class="main-content position-relative max-height-vh-100 h-100 mt-6 border-radius-lg">
      <div class="container-fluid py-4">
        <div class="row mb-4">
          <div class="card h-100">
            <div class="card-header ps-0 pe-0 pb-0 mb-0 sticky-top">
              <div class="row">
                <div class="col-lg-5 col-md-5">
                  <h6 id="title">브랜드별 현황이에요</h6>
                </div>
                <div class="col-lg-5 col-md-5 d-flex mb-2 p-1">
                  <div class="input-group" style="justify-content: flex-end">
                    <span class="input-group-text">검색 기간</span>
                    <div class="form-floating">
                      <input
                        type="text"
                        id="datepicker1"
                        class="form-control text-center"
                        id="floatingInputGroup1"
                        placeholder="시작일"
                      />
                      <label for="floatingInputGroup1">시작일</label>
                    </div>
                    <div class="form-floating">
                      <input
                        type="text"
                        id="datepicker2"
                        class="form-control text-center"
                        id="floatingInputGroup1"
                        placeholder="종료일"
                      />
                      <label for="floatingInputGroup1">종료일</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 mb-2 p-1" style="display: flex; align-items: stretch">
                  <select class="form-select mb-0" id="md-list">
                    <option value="all" selected>MD</option>
                    <option value="marketing">Marketing</option>
                    <option value="jy.lee">이지연</option>
                    <option value="sa.kyung">경송아</option>
                    <option value="jm.choi">최지민</option>
                    <option value="sy.kim">김수영</option>
                    <option value="hr.jeong">정혜련</option>
                    <option value="yj.lee">이예지</option>
                    <option value="jihyun">박지현</option>
                    <option value="km.kim">김경민</option>
                    <option value="system">시스템</option>
                  </select>
                </div>
                <div class="col-lg-1 col-md-1 text-center mb-2 p-1" style="display: flex; align-items: stretch">
                  <button type="submit" class="btn btn-secondary mb-0 me-0" id="submit">조회</button>
                </div>
              </div>
              <div class="row">
                <div class="card-body pb-0 mb-0">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0 pb-0">
                      <thead>
                        <tr>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder p-2 opacity-7"
                            width="10%"
                          >
                            브랜드
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="11%"
                          >
                            파트너사
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            주문수<br />(건)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            판매수량<br />(pcs)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="8%"
                          >
                            실판매가<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="8%"
                          >
                            수수료<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            원가<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            주문서쿠폰<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            상품쿠폰<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            마일리지&<br />PG(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            직접마케팅비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            배부마케팅비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="6%"
                          >
                            물류비<br />(천원)
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                            width="9%"
                          >
                            공헌이익<br />(천원)
                          </th>
                        </tr>
                      </thead>
                      <tbody id="korea-brands-sum-data"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <tbody id="korea-brands-data"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--   Core JS Files   -->
    <script src="../controls/korea-brand.js" type="module" defer></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
  </body>
</html>
