<div class="container z-index-sticky">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute z-index-sticky my-3 py-2 start-0 end-0 mx-4"
      >
        <div class="container-fluid pe-0">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="/korea"> CMIPARTNERS </a>
          <button
            class="navbar-toggler shadow-none ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/today">
                  <i class="fa-solid fa-children opacity-6 text-dark me-1"></i>
                  Today
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/korea">
                  <i class="fa-solid fa-children opacity-6 text-dark me-1"></i>
                  Korea
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link me-2" href="/squad">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Squad
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link me-2" href="/japan">
                  <i class="fa-solid fa-yen-sign opacity-6 text-dark me-1"></i>
                  Japan
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link me-2" href="/live">
                  <i class="fa fa-user opacity-6 text-dark me-1"></i>
                  Live
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="/pb">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Essential
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="/sign-in">
                  <i class="fas fa-key opacity-6 text-dark me-1"></i>
                  Sign In
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="/settings">
                  <i class="fas fa-clock opacity-6 text-dark me-1"></i>
                  Setting
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
